{% extends 'index.html' %}

{% block link %}
{{ super() }}
{% endblock %}

{% block menu %}
<li class="waves-effect waves-light">
    <a href="/index">
        На главную
    </a>
</li>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<h5>ДИСКЛЕЙМЕР:</h5>
<span>Данный сайт разработан и выложен в публичный доступ исключительно в рамках обучения основам программирования.</span>
<span>Вся представленная на нем информация является вымышленной. Любые совпадения лишь случайность.</span>
<span>Скоро данный сайт будет снят с публикации</span>
{% endblock %}